
singularity.autoMounts = true

executor {
    name = 'slurm'
    queueSize = 15
    pollInterval = '5 min'
    submitRateLimit = '10 sec'
    queue = 'rosa.p'
}

params{
    reads                   = false
    outdir                  = "results"
    genome                  = "TAIR10_chr_all.fas"
    gff                     = "TAIR10_GFF3_genes.gff"
    gene_list               = "overlap_apa_enhanced_same_exon.txt"
}



process {
   

    withLabel: fastqc {
        cpus    = 4
        memory  = '8 GB' 
        time    = '6h'
	    queue   = 'rosa.p'
        container = 'fastqc-0.11.9-hdfd78af_1.sif'
    }

    
    withLabel: multiqc {
        cpus    = 2
        memory  = '8 GB'
        time    = '4h'
	    queue   = 'rosa.p'
        container = 'multiqc-1.13-pyhdfd78af_0.sif'
    }

    withName: trim_galore{
        cpus    = 15
        memory  = '64 GB'
        time    = '12h'
	    queue   = 'rosa.p'
        container = 'trim-galore-0.6.7-hdfd78af_0.sif'
    }

  

    withName: preprocess_genome{
        cpus = 1
        memory = '4 GB'
        time = '1h'
        queue = 'rosa.p'
	container = 'seqkit-2.3.1-h9ee0642_0.sif'
    }

    withName: hisat2_index_genome{
        cpus    = 16
        memory  = '128 GB'
        time    = '12h'
	    queue   = 'rosa.p'
	    container = 'hisat2-2.2.1-h87f3376_4.sif'
    }

    withName: hisat2_genome_align{
        cpus    = 16
        memory  = '128 GB'
        time    = '12h'
	    queue   = 'rosa.p'
        container = 'hisat2-2.2.1-h87f3376_4.sif'
    }

    withName: sam_to_bam{
        cpus = 4
        memory = '16 GB'
        time = '8h'
        queue = 'rosa.p'
        container = 'samtools-1.9-h91753b0_8.sif'

    }

    withName: sort_and_index{
        cpus = 4
        memory = '32 GB'
        time = '8h'
        queue = 'rosa.p'
        container = 'samtools-1.9-h91753b0_8.sif'
    }

    withName: extractChromsizes{
        cpus = 2
        memory = '8 GB'
        time = '2h'
        queue = 'rosa.p'
        container = 'samtools-1.9-h91753b0_8.sif'
    }

    withLabel: peakcall {
        cpus    = 8
        memory  = '32 GB'
        time    = '12h'
	    queue   = 'rosa.p'
        container = 'macs2-2.9.1--py39hf95cd2a_0.sif'
    
    }


    withLabel: bdgcmp {
        cpus    = 4
        memory  = '16 GB'
        time    = '12h'
	    queue   = 'rosa.p'
        container = 'macs2-2.9.1--py39hf95cd2a_0.sif'
    }


    withLabel: bedgraphToBigwig {
        cpus    = 4
        memory  = '16 GB'
        time    = '12h'
	    queue   = 'rosa.p'
        container = 'bedgraphtobigwig-377--ha8a8165_3.sif'
    }

    withName: multibigwigsummary {
        cpus    = 4
        memory  = '64 GB'
        time    = '12h'
	    queue   = 'rosa.p'
        container = 'deeptools-3.5.2--pyhdfd78af_1.sif'
    }

    withName: plotCorrelation {
        cpus    = 4
        memory  = '64 GB'
        time    = '12h'
	    queue   = 'rosa.p'
        container = 'deeptools-3.5.2--pyhdfd78af_1.sif'
    }
	

    withLabel: wiggletools_mean{
	    cpus = 8
        memory = '8 GB'
        time = '4h'
        queue = 'rosa.p'
	container = 'wiggletools_1.2.8-hedeb25_0.sif'
    }

    withName: computeMatrix{
	    cpus = 8
        memory = '128 GB'
        time = '12h'
        queue = 'rosa.p'
	    container = 'deeptools-3.5.2--pyhdfd78af_1.sif'
    }

    withName: preprocess_bed{
	    cpus = 1
        memory = '16 GB'
        time = '1h'
        queue = 'rosa.p'
	    container = 'bedops-2.4.41-h9f5acd7_0.sif'
    }

    withName: plotProfile{
	    cpus = 4
        memory = '16 GB'
        time = '4h'
        queue = 'rosa.p'
	    container = 'deeptools-3.5.2--pyhdfd78af_1.sif'
    }
    withName: sub_bed_apa_repressed_composite{
	    cpus = 1
        memory = '2 GB'
        time = '1h'
        queue = 'rosa.p'
    }
}


singularity {
    enabled = true
    autoMounts = true
    runOptions  = '--bind .:/tmp'
}
