
singularity.autoMounts = true

executor {
    name            = 'slurm'
    queueSize       = 25
    pollInterval    = '1 min'
    submitRateLimit = '10 sec'
    queue           = 'rosa.p'
}

params{
    reads                               = false
    outdir                              = "results"
    latest_transcriptome                = "../atRTD3_29122021.fa"
    gene_types_araport11                = "../Araport11_functional_descriptions_20211231.txt"
    genome                              = "../TAIR10_chr_all.fas"
    genome_gff3                         = "../TAIR10_GFF3_genes.gff"
    samplesheet                         = "../samplesheet.csv"
    latest_transcriptome_gtf            = "../atRTD3_TS_21Feb22_transfix.gtf"
    motifsize                           = false
    bed_background_rnd_intron 	        = false
    bed_background_distal_pAs           = false
    bed_prox_rep_pA_composite_u170k     = false
    bed_prox_rep_pA_composite_u1c       = false

}



process {
   
    withLabel: fastqc {
        cpus        = 4
        memory      = '8 GB' 
        time        = '6h'
	    queue       = 'rosa.p'
        container   = '../fastqc-0.11.9-hdfd78af_1.sif'
    }

    withLabel: multiqc {
        cpus        = 2
        memory      = '8 GB'
        time        = '4h'
	    queue       = 'rosa.p'
        container   = '../multiqc-1.13-pyhdfd78af_0.sif'
    }

    withName: trim_galore{
        cpus        = 15
        memory      = '64 GB'
        time        = '12h'
	    queue       = 'rosa.p'
        container   = '../trim-galore-0.6.7-hdfd78af_0.sif'
    }

    withName: make_tRNA_rRNA_reference{
        cpus        = 4
        memory      = '8 GB'
        time        = '1h'
	    queue       = 'rosa.p'
        container   = '../seqkit-2.3.1-h9ee0642_0.sif'
    }

    withName: hisat2_index{
        cpus        = 16
        memory      = '128 GB'
        time        = '12h'
	    queue       = 'rosa.p'
	    container   = '../hisat2-2.2.1-h87f3376_4.sif'
    }

    withName: hisat2_align{
        cpus        = 16
        memory      = '128 GB'
        time        = '12h'
	    queue       = 'rosa.p'
        container   = '../hisat2-2.2.1-h87f3376_4.sif'
    }

    withName: preprocess_genome{
        cpus        = 1
        memory      = '4 GB'
        time        = '1h'
        queue       = 'rosa.p'
	    container   = '../seqkit-2.3.1-h9ee0642_0.sif'
    }

    withName: hisat2_index_genome{
        cpus        = 16
        memory      = '128 GB'
        time        = '12h'
	    queue       = 'rosa.p'
	    container   = '../hisat2-2.2.1-h87f3376_4.sif'
    }

    withName: hisat2_genome_align{
        cpus        = 16
        memory      = '128 GB'
        time        = '12h'
	    queue       = 'rosa.p'
        container   = '../hisat2-2.2.1-h87f3376_4.sif'
    }

    withName: sam_to_bam{
        cpus        = 4
        memory      = '16 GB'
        time        = '8h'
        queue       = 'rosa.p'
        container   = '../samtools-1.9-h91753b0_8.sif'
    }
	
    withName: process_transcriptome_gtf{
	    cpus 	    = 1
	    memory 	    = '2 GB'
	    time 	    = '1h'
	    queue 	    = 'rosa.p'
    }

    withLabel: rmats{
        cpus        = 8
        memory      = '16 GB'
        time        = '8h'
        queue       = 'rosa.p'
        container   = '../rmats-4.1.2-py39hd863d43_3.sif'
    }

    withName: salmon_pre_index{
        cpus        = 1
        memory      = '8 GB'
        time        = '2h'
	    queue       = 'rosa.p'
    }

    withName: salmon_index{
        cpus        = 2
        memory      = '128 GB'
        time        = '8h'
	    queue       = 'rosa.p'
        container   = '../salmon-1.9.0-h7e5ed60_1.sif'
    }

    withName: salmon_quant{
        cpus        = 8
        memory      = '16 GB'
        time        = '4h'
	    queue       = 'rosa.p'
        container   = '../salmon-1.9.0-h7e5ed60_1.sif'
    }

    withLabel:  homer_findMotifsGenome {
        cpus        = 4
        memory      = '16 GB'
        time        = '8h'
        queue       = 'rosa.p'
        container   = '../homer-4.11--pl5321h9f5acd7_7.sif'
    }

    withLabel:  preprocess_bed {
        cpus        = 1
        memory      = '2 GB'
        time        = '1h'
        queue       = 'rosa.p'
        container   = '../bedtools_2.31.1--hf5e1c6e_0.sif'
    }

    withName:  preprocess_genome {
        cpus        = 1
        memory      = '16 GB'
        time        = '1h'
        queue       = 'rosa.p'
        container   = '../seqkit-2.3.1-h9ee0642_0.sif'
    }

    withName:  bedtools_getfasta {
        cpus        = 1
        memory      = '16 GB'
        time        = '1h'
        queue       = 'rosa.p'
        container   = '../bedtools_2.31.1--hf5e1c6e_0.sif'
    }

    withName:  bioconvert_fastq {
        cpus        = 1
        memory      = '4 GB'
        time        = '1h'
        queue       = 'rosa.p'
        container   = '../bioconvert-1.1.1--pyhdfd78af_0.sif'
    }

    withLabel:  homer_buildMotif {
        cpus        = 1
        memory      = '2 GB'
        time        = '1h'
        queue       = 'rosa.p'
        container   = '../homer-4.11--pl5321h9f5acd7_7.sif'

    }
    withLabel:  homer_countMotifs {
        cpus        = 4
        memory      = '16 GB'
        time        = '8h'
        queue       = 'rosa.p'
        container   = '../homer-4.11--pl5321h9f5acd7_7.sif'
    }
}


singularity {
	enabled     = true
	autoMounts  = true
	runOptions  = '--bind .:/tmp'
}
