singularity.autoMounts = true

params{
    reads_folder_fast5                   = false
    genome                               = "TAIR10_noCHR_all.fas"
}   



process {

    withName: basecall {
        cpus    = 30
        memory  = '32 GB' 
        time    = '120 h'
        container = 'flep_cuda_guppy621.sif'

    }

    withName: convert_fasta {
        cpus    = 4
        memory  = '4 GB' 
        time    = '1 h'
        container = 'flep_cuda_guppy621.sif'

    }

    withName: align_to_genome {
        cpus		= 4
        memory		= '8 GB'
        time 		= '12 h'
        container	= 'flep_cuda_guppy621.sif'

    }

    withName: merge_bams {
        cpus		= 8
        memory		= '16 GB'
        time		= '12 h'
        container	= 'flep_cuda_guppy621.sif'

    }
}



singularity {
    enabled = true    
}